/*
Video Production Template (5/16/2013)
Design by Anna Lee, Development by Conor Kelly
ck7630@yp.com

YP Horizontal Framework C v2.1 - Large Background Image
	This template is used for layouts requring a large image in the background that resizes according to the size of the browser window
	
fixed calculators and typography 
MODULE STYLING  added 4/4/2013
Updated mobile menu 4/5/2013
Markup-Cleanup 4/22/2013
*/ 

@import url("gfx/wp-skeleton.css"); 
@font-face {
	font-family: "Century Gothic";
	src: url("gfx/GOTHIC.TTF"),
		 url("gfx/GOTHICI.TTF"),
		 url("gfx/GOTHICB.TTF"),
		 url("gfx/GOTHICBI.TTF");
}
@font-face {
	font-family: "Myriad Pro";
	src: url("gfx/MyriadPro-Regular.otf"),
		 url("gfx/MyriadPro-It.otf")
		 url("gfx/MyriadPro-Semibold.otf"),
		 url("gfx/MyriadPro-SemiboldIt.otf");
}
header, footer, nav, section, article {display: block;}


/* styles used by coverBG.js */
img#coverBGimg { 
	position: absolute !important; 
	top: 0; 
	left: 50%; /* Set to 0 if using IEcoverBG.js rather than IEcoverBG-centered.js */
	z-index: -10;
}
.bgwidth { 
	width: 100%; 
}
.bgheight { 
	width: 100%; 
}
/* end styles used by coverBG.js */

body {
	margin: 0;
	color: #f5f5f5;
	font-size : 100%;
	line-height: 1.5;
	font-family: Verdana, Geneva, sans-serif;
	position: relative;
	background: transparent url("gfx/bodyBG.jpg") top left repeat scroll;
}
		
.skinBg { 
	position: relative;

	background-color: trasnparent; /* bg color to show up below the background image (or through if there are transparencies in the image */
	background-image: url("gfx/coverBG.jpg");
	background-repeat: no-repeat;
	background-position: top right;
	background-attachment: scroll;
	/* THIS IS CRITICAL: WITHOUT IT, IE COMPATIBILITY SCRIPT WILL NOT WORK! */
	background-size: 100% auto;	 /* This sets the background image to scale with the browser window  */
}		
.skinBg2 {
	/* set repeating, none scalling texture overlays here 
	background: transparent url("gfx/bodyBG25.png") top left repeat scroll;	*/
}
		
/* 2.HEADINGS */

h1, h1 span, h1 font span, h1 div,
h2, h2 span, h2 font span, h2 div,
h3, h3 span, h3 font span, h3 div,
h4, h4 span, h4 font span, h4 div,
h5, h5 span, h5 font span, h5 div,
h6, h6 span, h6 font span, h6 div {
	font-family: "Myriad Pro", Verdana, Geneva, sans-serif;
	font-weight:normal;
	margin-bottom : 8px;
	line-height: 120%;
	color: #ff8c05; /* replace with template color */
}
h1, h1 div, h1 span, h1 font span { 
	font-size : 34px; 
}
h2, h2 div, h2 span, h2 font span{ 	
	font-size : 28px; 
}
h3, h3 div, h3 span, h3 font span {	
	font-size : 21px; 
}
h4, h4 div, h4 span, h4 font span { 	
	font-size : 18px; 
}
h5, h5 div, h5 span, h5 font span { 
	font-size : 14px;  
}
h6, h6 div, h6 span, h6 font span { 
	font-size : 12px; 
}

div.horizontal.callouts div.vertical div.diy-f-spot.callout h3 {
	color: #ffffff;
	font-size: 24px;
}

/* 3.TYPOGRAPHY */

p, 
ol, 
ul, 
dl, 
address { 
	margin-bottom : 15px; 
	font-size : 12px; 
	color: white;
	}
/* add text styling to divs as Websplanet loves to wrap text in divs throughout the platform, just don't include a margin */
div {
	font-size : 12px; 
	color: #f5f5f5;
}
div.horizontal.callouts div.vertical div.diy-f-spot.callout p {
	margin-bottom: 0px;	
}
div.horizontal.callouts div.vertical div.diy-f-spot.callou div,
div.horizontal.callouts div.vertical div.diy-f-spot.callou p {
	color: #f5f5f5;
}
/* 3a. Websplanet widget typography 
		   Contact Conor Kelly or Ian Glaze with questions.
	*/
	/* By default, websplanet widgets have css styling in other style sheets that will over-ride the styles applied to the html elements abover in "3.Typography". To correctly style the text in these widgets, re-define font color and additional styling using the tags below */
	
	div.reviewItem,
	div.freetextarea, 
	label, 
	div.rss, 
	div#ReviewsWidget, 
	p.figcaption, 
	div.opening-hours-widget-wrapper, 
	div#opening-hours-comments, 
	div#containingBlock, 
	div.calc-input-container, 
	div.calc-input-container span {
		 color: #f5f5f5; /* replace with theme font color */
	}
	
	/* If the theme font color is a lighter color (for themes with darker backgrounds) those colors will get lost when they are within Accordion, Tabs, or Spotlight widgets which, by default, have a white background. Define a theme "dark" text color for these areas using the classes below. */
	
	/* Controller Widgets (Accordions/Tabs/Spotlight Widgets) */
	div.ui-widget-content div.freetextarea,
	div.ui-widget-content div.reviewItem, 
	div.ui-widget-content div.freetextarea, 
	div.ui-widget-content label, 
	div.ui-widget-content div.rss, 
	div.ui-widget-content div,
	div.ui-widget-content div#ReviewsWidget, 
	div.ui-widget-content p.figcaption, 
	div.ui-widget-content div.opening-hours-widget-wrapper, 
	div.ui-widget-content div#opening-hours-comments, 
	div.ui-widget-content div#containingBlock, 
	div.ui-widget-content div.calc-input-container, 
	div.ui-widget-content div.calc-input-container span,
	div.diy-f-spot div.freetextarea,
	div.diy-f-spot div,
	div.diy-f-spot div.reviewItem, 
	div.diy-f-spot div.freetextarea, 
	div.diy-f-spot label, 
	div.diy-f-spot div.rss, 
	div.diy-f-spot div#ReviewsWidget, 
	div.diy-f-spot p.figcaption, 
	div.diy-f-spot div.opening-hours-widget-wrapper, 
	div.diy-f-spot div#opening-hours-comments, 
	div.diy-f-spot div#containingBlock, 
	div.diy-f-spot div.calc-input-container, 
	div.diy-f-spot div.calc-input-container span {
		color: black; /* Replace with theme specific "dark" text color */
	}
p, span, div {
	line-height:1.5;
}
ul, 
ol { 
	margin : 0 0 1.5em 24px; 
	padding-left : 24px; 
	list-style-position: outside;
}
ul { 
	list-style-type : disc; 
}

ol { 
	list-style-type : decimal; 
}
ul li , 
ol li  { 
	margin : 0;
}

dl, 
dd { 
	margin-bottom : 1.5em;
}

dt { 
	font-weight : normal; 
}
/* box method styling here */
blockquote  { 
	margin : 0 12px 1.5em 12px; 
	padding-left : 24px; 
	padding-right: 24px;
	border-left : 2px solid #ff8c05;
	border-right : 2px solid #ff8c05;
}
/* font styling here */
blockquote,
blockquote div,
blockquote p {
	font-family: "Century Gothic", Verdana, Geneva, sans-serif;
	font-size: 21px;
	font-weight: normal;
	font-style: italic;
	line-height: 1.2;
}
blockquote:before, 
blockquote:after, 
q:before, 
q:after {
	content : '';
	content : none; 
}
b, 
strong	{ 
	font-weight : bold; 
}

i, 
em { 
	font-style : italic; 
}
sup, 
sub { 
	position : relative;
	font-size : 75%; 
	line-height : 0; 
}
sup { 
	top : -.5em; 
}
sub { 
	bottom : -.25em; 
}
address { 
	font-style : normal;
}
hr { 
	border: solid #ddd; 
	border-width: 1px 0 0; 
	clear: both; 
	margin: 10px 0 30px; 
	height: 0; 
}

/* 4.LINKS */
a, 
a:visited {
	outline : none;
	color : #FF8C05; 
	text-decoration : none;
}
a:hover { 
	outline : none;
	color : #FF8C05;
	text-decoration : underline; 
}
a:active, 
a:focus { 
	outline : none;
	color : #FF8C05; 
	text-decoration : underline;
}

/* layout */
p.m-logo {
	text-align: center;
	font-size:18px;
	color:#FFF;
	padding: 10px;
	text-transform: uppercase;
	display: inline-table;
	margin:0px;
	line-height:normal;
	width:auto;
}	
#wrapper-header, #wrapper-content, #wrapper-footer, #wrapper-copyright, #footerData-wrapper { 
	width:100%;
	 position:relative;
	 z-index: 5;
 }
#footerData-wrapper {
	background: transparent url("gfx/wrapperContentBG.png") top left repeat;
	border-top: 1px solid #1d1d1d;
	border-bottom: 1px solid #000000;	
	border-top: 1px solid #1d1d1d;
}
#wrapper-header { 
	border-bottom: 1px solid #000000;
	background: transparent url("gfx/HeaderGradient.png") bottom left repeat-x scroll;
}
#wrapper-content { } 
div#wrapper-content {
	background: transparent url("gfx/wrapperContentBG.png") top left repeat;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #1d1d1d;
}
#wrapper-footer {
	background: #ff8c05; /* Old browsers */	
	background-image: url("gfx/modNavBG.jpg");
	background-image: linear-gradient(to bottom,  rgba(0,0,0,.0) 0%,rgba(0,0,0,.30) 100%), url("gfx/modNavBG.jpg"); /* W3C */
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,.0) 0%, rgba(0,0,0,.30) 100%), url("gfx/modNavBG.jpg"); /* FF3.6+ */
	background-image: url("gfx/modNavBG.jpg"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.0)), color-stop(100%,rgba(0,0,0,.30))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,.30) 0%,rgba(0,0,0,.30) 100%), url("gfx/modNavBG.jpg"); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(0,0,0,.0) 0%,rgba(0,0,0,.30) 100%), url("gfx/modNavBG.jpg"); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,.0) 0%,rgba(0,0,0,.30) 100%), url("gfx/modNavBG.jpg"); /* IE10+ */
	background-image: url("gfx/modNavBG.jpg")\9;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#44000000',GradientType=0 ); /* IE6-8 */
	
	border-top: 1px solid #f2a80f;
	border-bottom: #1c1c1c;
} 
#wrapper-copyright {
	display:inline-block;
	padding: 10px 0px;
	background: transparent none;
	border-top: #818181;
}
#header {
 	
}
#content {
	padding:15px 0px; 
	min-height:100px;
}

/* logo */
#logo {
	padding: 20px 0px 50px;
}
/* add logo font styling here */
#logo a, #logo a:hover, #logo a div, #logo a:hover div {
	text-align:left;
	text-decoration:none;
	color:#FF8C05;
	font: 48px/1 "Century Gothic", Verdana, Geneva, sans-serif;
	text-transform:uppercase;
	text-shadow: 2px 2px 3px #000000;
	-webkit-text-shadow: 2px 2px 3px #000000;
}
/* positioning and box method styling */
div.slogan { 
	margin-bottom: 50px
}
/* font styling */
div.slogan, div.slogan div { 
	font: 30px/1 "Century Gothic", Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	text-transform: capitalize;
	text-shadow: 2px 2px 3px #000000;
	-webkit-text-shadow: 2px 2px 3px #000000;
}
	
/* Phone */
/* positioning and box model styling go here */
#phone-number {
	text-align:left;
	text-transform:uppercase;
	padding: 10px 00px;
	clear: left;
	display: inline-block;
	width: auto;
	margin-bottom: 50px;

}
/* font styling goes here */
#phone-number div {
	font: 40px/1 "Century Gothic", Verdana, Geneva, sans-serif;
	color: #FFFFFF;
	text-transform: capitalize;
	text-shadow: 2px 2px 3px #000000;
	-webkit-text-shadow: 2px 2px 3px #000000;	
}
#phone-number div.tagline2 {
	font-size: 30px;	
}
/* mobile phone number */
#m-phone-number {
	display:none;
}	

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	#phone-number { 
		text-align:center;
	}
	#logo { 
		text-align:center;
	}
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {	

}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) { 
	#siteMainDynLogo /*this is for the mobile logo image*/ {
		max-width:300px;
		height:auto;		
	}
}	

/* footer */
#footer-area {
	padding:10px 0px;
}

/* 5.NAVIGATION/MENU */
/* Feel free to change up this area as you see fit in order
to best suit your design. */
div#wrapper-nav {
	
}
@media screen and (max-width: 767px) {
	div#wrapper-nav {
		
	}
	#header {
		min-height: 240px;
	}
	#logo {
		padding: 20px 0 0px;
	}
	#phone-number { 
		display: none;
	}
	#m-phone-number {
		display: inline-block;
		width: 100%;
		margin: 0 auto 25px;
		padding: 15px 0;
		border: 2px solid #000;
		background: #ff8c05 url("gfx/navCurrentItemBG.jpg") repeat scroll;
	}
	#m-phone-number:hover,
	#m-phone-number:active {
		background: #ff6f05 url("gfx/navItemBG.jpg") repeat scroll;
	}
	#m-phone-number div,
	#m-phone-number a {
			
		font: 40px/1 "Century Gothic", Verdana, Geneva, sans-serif;
		color: #FFFFFF;
		text-transform: capitalize;

		text-align: center	
	}
	#m-phone-number div.tagline2 {
		font-size: 30px;	
	}
	#m-phone-number a,
	#m-phone-number a:hover,
	#m-phone-number a:focus,
	#m-phone-number a:active {
		text-decoration: none;
	}
	.page-title {
		text-align: center;	
	}
}
@media screen and (max-width: 479px) {
	#logo a, #logo a:hover, #logo a div, #logo a:hover div {
		font-size: 30px;
	}
	div.slogan {
		font-size: 21px;
	}
	#m-phone-number div,
	#m-phone-number a {
		font-size: 24px
	}
	#m-phone-number div.tagline2 {
		font-size: 21px;	
	}
}
#menu { 
	background: transparent none;	
	display: block;
	position:relative;
	top: -20px;

	z-index: 300;
}
ul#nav {
	margin: 0;
	padding: 0;
	width:auto;
	border-left: 1px solid #fff;
	border-right: 1px solid #c7c8c8;
}
/* start first level nav items */
	ul#nav li {
		float: left;
		padding: 0;
		list-style: none;
		list-style-image: none;
		padding: 0px;
		margin-right: 2px
	}
	ul#nav li.last { }
	ul#nav li.first { }
	ul#nav li a {
		font-size: 14px;
		text-decoration: none;
		line-height:34px; /* line height is better than top and bottom padding */
		display: block;
		text-align: left;
		padding: 0px 20px;
		white-space: nowrap;
		text-transform: capitalize;
		color: #ffffff;
		background: transparent url("gfx/navItemBG.jpg") top left repeat-x;
		border: 1px solid #000000;
		
	}
		/* yes, you can combine/seperate the bottom two styles if you would like or need to */	
	ul#nav > li.current > a,
	ul#nav > li > a:hover {
		color: #fff;
		background: transparent url("gfx/navCurrentItemBG.jpg") top left repeat-x;
	}
/* end first level nav items */		
	
/* start second level nav items */		 	
		ul#nav li ul { /* second-level lists */
			position: absolute;
			width: 10em;
			left: -999em; /* using left instead of display to hide menus because display: none isnt read by screen readers */
			margin:0px;
			padding:0px;
			border: 1px solid #000000;
			border-bottom: none;
		}
		ul#nav li ul li a, 
		ul#nav li.current ul li a { /* second level dropdown buttons */
			width:200px;
			border: none;
			border-bottom: 1px solid #000000;
			line-height:30px;
			color:#ffffff;
			margin: 0;
		}
		ul#nav li ul li a:hover, 
		ul#nav li.current ul li a:hover { /* second level dropdown button hover state */	
			
			color:#fff;
			background: transparent url("gfx/navCurrentItemBG.jpg") top left repeat-x;
		}
/* first and lasts in drop down */
		ul#nav li ul li.first a, 
		ul#nav li.current ul li.first a { }
		ul#nav li ul li.last a, 
		ul#nav li.current ul li.last a { }
/* end second level nav items */
		
/* start third level nav items */	
			ul#nav li ul li ul { /* third-and-above-level lists */
				margin: -1em 0 0 200px;
			}	
			ul#nav li ul li ul li a, 
			ul#nav li.current ul li ul li a { /* third level dropdown buttons */
				width:200px;
				line-height:30px;
				color:#ffffff;
			}
						
			ul#nav li ul li ul li a:hover, 
			ul#nav li.current ul li ul li a:hover { /* third level dropdown button hover state */						
				
				color:#fff;
				background: transparent url("gfx/navCurrentItemBG.jpg") top left repeat-x;
			}
/* first and lasts in drop down */
			ul#nav li ul li ul li.first a, 
			ul#nav li.current ul li ul li a { }
			ul#nav li ul li ul li.last a, 
			ul#nav li.current ul li ul li a { }
/* end third level nav items */ 

			ul#nav li:hover ul li ul, 
			ul#nav li:hover ul li ul li ul, 
			ul#nav li.sfhover ul li ul, 
			ul#nav li.sfhover ul li ul li ul {
				left: -999em;
			}
		 
			ul#nav li:hover ul, 
			ul#nav li ul li:hover ul, 
			ul#nav li ul li ul li:hover ul, 
			ul#nav li.sfhover ul, 
			ul#nav li ul li.sfhover ul, 
			ul#nav li ul li ul li.sfhover ul { /* lists nested under hovered list items */
				left: auto;
			}
/* hide mobile elements by default */
		#m-menu { display:none; }	 
		#navTab {display:none;}

/* Navigation  media queries */

@media only screen and (max-width: 767px) {
	/* hide desktop elements in "mobile" view */ 
	#menu { display:none; }
	#wrapper-menu {display:none;}
	
	a#navTab /* mobile menu open button */{
		display:block;
		width:100%;
		height:30px;
		cursor:pointer;
		margin:6px auto;
		z-index: 800;
		background-image:url("gfx/icon-menu.png");
		background-repeat:no-repeat;
		background-position:top center;
		z-index:900;
	}			
	a#navTab:hover { } 
		
	a#navTab.active {
		background-position:bottom center;
	}
	 
	#m-wrapper-menu {  
		display:inline-block;
		width:100%;
		text-align:center;
		background: -moz-linear-gradient( top, #a3a3a3 0%, #3b3b3b 50%, #242424 50%, #000000);
		background: -webkit-gradient( linear, left top, left bottom, from(#a3a3a3), 		color-stop(0.50, #3b3b3b), color-stop(0.50, #242424), to(#000000));
		-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
		-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
		box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
	}	
	#m-menu {
		height: auto;
		overflow: visible;
		padding: 0;
		position: relative;
		width: 100%;
		z-index: 800;
		display: block;
		margin:0 auto;
		line-height: 0;
	}	
	#m-menu-content {
		display: none; /* hides the menu */
		margin-top:-3px;
	}				 	
	#m-menu ul#nav {
		margin: 0;
		padding: 0;
		width:auto;
		background-color:#CCC;
		box-shadow: 0px 2px 4px rgba(000,000,000,0.5);
	}
/* start first level nav items */		
	#m-menu ul#nav li {
		float: none;
		padding: 0;
		list-style: none;
		list-style-image: none;	
	}
	#m-menu ul#nav li.last {
		border-left: 0px;
		border-right: 0px;
	}
	#m-menu ul#nav li.first {
		border-left: 0px;
		border-right: 0px;
	}	
	#m-menu ul#nav li a {
		font-size: 14px;
		text-decoration: none;
		line-height:44px; /* line height is better than top and bottom padding */
		display: block;
		text-align: left;
		padding: 0px 15px;
		white-space: nowrap;

		border: none;
		border-bottom: 1px solid #000;
	}
	/* yes, you can combine the bottom two styles if you would like or need to */	
	#m-menu ul#nav li.current a {
		color: #fff;
		}
	#m-menu ul#nav li a:hover {
		color: #fff;
		}
/* end first level nav items */		

/* start second level nav items */
		#m-menu ul#nav li ul { /* second-level lists */
			position: relative;
			display:block;
			width:100%;			
			margin:0px;
			padding:0px;
			left:0px;
			border: none;
		}
		#m-menu ul#nav li ul li a, 
		#m-menu ul#nav li.current ul li a { /* second level dropdown buttons */
			width:auto;


			line-height:32px;

			padding: 0px 15px 0px 30px;

			font-size: 12px;
		}
		#m-menu ul#nav li ul li a:hover, 
		#m-menu ul#nav li.current ul li a:hover,
		#m-menu ul#nav li ul li a:active, 
		#m-menu ul#nav li.current ul li a:active { /* second level dropdown button hover state */
			color:#fff;
		}
/* end second level nav items */	

/* hide third level nav items */
			#m-menu ul#nav li ul li ul { /* third-and-above-level lists */
				display:none;
			}
			#m-menu ul#nav li:hover ul li ul, 
			#m-menu ul#nav li:hover ul li ul li ul, 
			#m-menu ul#nav li.sfhover ul li ul, 
			#m-menu #nav li.sfhover ul li ul li ul {
				display:none;
				left: 0px;
			}
			
				#m-menu ul#nav li:hover ul, 
				/*#m-menu ul#nav li ul li:hover ul, 
				#m-menu ul#nav li ul li ul li:hover ul,*/ 
				#m-menu ul#nav li.sfhover ul, 
				#m-menu ul#nav li ul li.sfhover ul /*, 
				#m-menu ul#nav li ul li ul li.sfhover ul */{ /* lists nested under hovered list items */
					display:block;
				}
} /* end media query */

/* 10.FOOTER AREA */

/* mirror module for utility nav */
ul#mirror-menu-module {
	margin: 0px auto;
	padding: 0px;
	clear: both;
	position: relative; 
	z-index: 0; 
	text-align:center;
	font-weight:normal;
	font: 12px/50px Verdana, Geneva, sans-serif;
}
ul#mirror-menu-module li {
/*	display: inline;  remove and add float if you want the text left justified */
	float: left;/**/
	padding: 0 20px 0 10px;
	list-style: none;
	text-align: center;
}
ul#mirror-menu-module a {
	color:#fff;
	text-decoration:none; 
}
ul#mirror-menu-module a:hover {
	color:#fff;
	text-decoration: underline;
}
@media screen and (max-width: 767px) {
	div.footerData {
		text-align: center;	
	}
	ul#mirror-menu-module li {
		display: inline;
		float: none;
	}
}

/* YP Copyright */
div#copyright {
	clear: both;
	margin: 15px auto;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
	color:#a0a0a0;
	width:95%;
}
div#copyright br {
	display:none;
}
div#copyright a{
	color: #ff8c05;
}
.ypimg {
  float: right;
  margin: 0px 15px 0px 80px;
}
	
@media only screen and (max-width: 767px){
	div#copyright {
		text-align: center;
		font-size:10px;	
	}
	div#copyright br {
		display:block;
	}
	.ypimg {
		float: none;
		clear:right;
		margin: 10px 0px 10px 0px;
	}
}			

/* 10 b. Form Styling */
input,
textarea,
select,
option {
	font: 12px/1 Verdana, Geneva, sans-serif;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
textarea {
	width: 95%;
	clear: left;
	
}
select {
	width: 100%;	
}
@media only screen and (max-width: 767px) {
	select {
		width: 98%;	
	}
}
label {}
input[type="text"] {}
input[type="text"]:focus,
select:focus,
textarea:focus,
input[type="text"]:hover,
select:hover,
textarea:hover {
	border-color: #ff8c05;
} 
select {}
select option {}
textarea {}
input[type="submit"],
input[type="reset"] {
	min-width: 47%; 
	height:auto; 
	text-align:center;  
	z-index:1001;
    border: 1px solid #000;
	background: #ff8c05 url("gfx/navCurrentItemBG.jpg") repeat scroll;
	padding: 4px;
	font-family: "Century Gothic", Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #ffffff;
	margin-right: 1%;
	margin-bottom: 4px;
}
input[type="submit"]:hover,
input[type="reset"]:hover {
	cursor:pointer;
	background: #ff6f05 url("gfx/navItemBG.jpg") repeat scroll;
}
.required:after,
.astrix {
	color: #ff8c05 ;
}

/* ----- Websplanet widget form classes ----- */
.calculator-btn { /* match input[type=submit] styling */ }
.calculator-btn-text { /* match input[type=submit] styling */ }
/* Calculator widget input feilds: match input[type="text"] styling */
div.calories-calc div.calc-input-container input,
div.calories-calc div.calc-input-container select, 
div.mortgage-calc div.calc-input-container input, 
div.tax-calc div.calc-input-container input, 
div.pregnancy-calc div.calc-input-container input {}
/* Calculator widget input feilds: match input[type="text"] styling */
li.calc-param-row div.calc-input-container input, 
li.calc-resault-row div.calc-input-container input {}
/* unit caluclator tabs styling; match template styling */
div.unit-calc li.unit-menu ul.unit-type li a { /* default - color: blue; */ }
/* Conversion Calculator tabs */
div.unit-calc li.unit-menu ul.unit-type li a.active {
	color: blue; /* default: blue; */
	background-color: #cccccc;/* default: #cccccc; */
}
div.unit-calc li.unit-menu ul.unit-type li a:hover {
	color: blue; /* default: blue; */
	background-color: #cccccc; /* default: #cccccc; */
	text-decoration: underline; /* default: underline; */
}

/* 11.WEBSPLANET DEFAULT */

/* Modules */
.module-wrapper {}
.module-title {}
.module-content {}

/* Widgets */
.widget-element {clear:left !important;}
/* Column Gutter fix (per request from Zuzana) */
.widget-wrapper {}
.widget-title {}
.widget-body {}
.diy-widget {min-height:25px;}

/* picture+text widget */
.image_wrapper.free-image-left{
	margin-right: 5px;
}
.image_wrapper.free-image-right{
	margin-left: 5px;
}

/* Default free text widget values */
.widget-body .freetextarea ul {list-style:disc outside none !important; padding-left:2em !important; margin:0.5em !important;}
.widget-body .freetextarea ul ul,
.widget-body .freetextarea ol ul {list-style:circle outside none !important;}
.widget-body .freetextarea ul ul ul,
.widget-body .freetextarea ul ol ul,
.widget-body .freetextarea ol ul ul,
.widget-body .freetextarea ol ol ul {list-style:square outside none !important;}

.widget-body .freetextarea ol {list-style:decimal outside none !important; padding-left:2em !important; margin:0.5em !important;}
.widget-body .freetextarea ol ol,
.widget-body .freetextarea ul ol {list-style:lower-latin outside none !important;}
.widget-body .freetextarea ol ol ol,
.widget-body .freetextarea ol ul ol,
.widget-body .freetextarea ul ol ol,
.widget-body .freetextarea ul ul ol {list-style:lower-roman outside none !important;}

.widget-body .freetextarea ul li,
.widget-body .freetextarea ul ul li,
.widget-body .freetextarea ol ul li,
.widget-body .freetextarea ul ol ul li,
.widget-body .freetextarea ol ul ul li,
.widget-body .freetextarea ol ol ul li,
.widget-body .freetextarea ul ul ul li,
.widget-body .freetextarea ol li,
.widget-body .freetextarea ol ol li,
.widget-body .freetextarea ul ol li,
.widget-body .freetextarea ol ol ol li,
.widget-body .freetextarea ol ul ol li,
.widget-body .freetextarea ul ol ol li,
.widget-body .freetextarea ul ul ol li {list-style:inherit !important;margin:0 !important}

/* Default font size values */
.widget-body .freetextarea font[size="1"] {font-size:xx-small}
.widget-body .freetextarea font[size="2"] {font-size:x-small}
.widget-body .freetextarea font[size="3"] {font-size:small}
.widget-body .freetextarea font[size="4"] {font-size:medium}
.widget-body .freetextarea font[size="5"] {font-size:large}
.widget-body .freetextarea font[size="6"] {font-size:x-large}
.widget-body .freetextarea font[size="7"] {font-size:xx-large}

/*------------widget popup default ---------*/
.widget-popup{
    overflow:hidden; 
    top:0px; 
    left:0px;
    position:absolute; 
    width:100%;                       
    z-index:1000;
}
.widget-popup-control-bar{
    overflow:hidden; 
    position:fixed; 
    top:0px; 
    left:0px;
    width:100%;
    height:30px;
}
.widget-popup-content{
    display:inherit;
    overflow:hidden; 
    position:absolute; 
    top:30px; 
    left:0px;
    width:100%;
    height:420px;
    display:inherit;
}
.widget-button{
	width:auto; 
	height:auto; 
	text-align:center;  
	z-index:1001;
    border: 1px solid #000;
	background: #ff8c05 url("gfx/navCurrentItemBG.jpg") repeat scroll;
	line-height: 44px;
	font-family: "Century Gothic", Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #ffffff;
}	
div.widget-button:hover{
	cursor:pointer;
	background: #ff6f05 url("gfx/navItemBG.jpg") repeat scroll;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .widget-popup{
    	height: 300px;
	}
}
@media only screen and (max-width: 767px) {
	.widget-popup{
    	height: 480px;
    }
}
.widget-wrapper{
	margin:10px 15px !important;
}

/* back to top */
#back-top {
	position: fixed;
	bottom: 30px;
	right: 10px;
	z-index: 600;
}
#back-top a {
	width: 42px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 42px;
	height: 46px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url("gfx/back-to-top.png") no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	border:1px solid #fff;
}
#back-top a:hover span {
	background-color: #777;
}
/* end back to top */

/* forms */
.form-manager li input[type="text"], 
.contact-us li input[type="text"] {
   width: 98%;
}
.form-manager label {
	line-height: 25px;
	padding-bottom:0px;
	}
	
textarea {
	resize:vertical; 
	max-height:200px; 
	min-height:75px;
}	

/* end forms */

/* gallery */ 
.es-carousel ul li img {cursor:pointer;}
/* end gallery */

/* mobile quick nav buttons */
#m-panel {
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
	background-color:#999;
	z-index: 6666;
	text-align:center;
	display:none;
}
a.m-click-phone, a.m-click-mail, a.m-click-map {
	float:left;
	height:45px;
	line-height:45px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 0px 0px;
	text-align:center;
	background: #3b3b3b;
	/* this is the background of quick nav. please do not add left and right borders. They will mess up the widths of the buttons and will not display correctly. */
	background: -moz-linear-gradient( top, #a3a3a3 0%, #3b3b3b 50%, #242424 50%, #000000);
	background: -webkit-gradient( linear, left top, left bottom, from(#a3a3a3), color-stop(0.50, #3b3b3b), color-stop(0.50, #242424), to(#000000));
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
	box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(255,255,255,0.6);
}
a.m-click-phone, 
a.m-click-mail, 
a.m-click-map {
	width:33%;
}
a.m-click-mail {
	width:34%;
}	
a.m-click-phone span, 
a.m-click-mail span, 
a.m-click-map span {
	height:45px;
	width:100%;
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	background-image: url("gfx/mobile-panel-icons.png");
	background-repeat:no-repeat;
	display:block;
	padding:0px;
	text-indent:-9950px;
	}	
a.m-click-phone span { 
	background-position:center center;
}
a.m-click-mail span{
	background-position:bottom center;
}
a.m-click-map span{
	background-position:top center;
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and(max-width: 767px) {	
	#m-panel {
		display:block;
	}
	#copyright {
		padding-bottom:45px;
	}
}
/* end mobile quick nav buttons */

/* 
   -------------------------------------------------------
   --------------- Websplanet widget fixes --------------- 
   -------------------------------------------------------
*/

/* Websplanet mobile fixes */
form ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
nav#menu ul li a.hover { }
/* footer data link */
a.websplanet {
	color: #fff;
	text-decoration: underline;
}
.footerLinks {
    float: right;
    text-align: left;
}
.footerText {
	display: none; /* these are just empty spans in the footer area, display none lets .addthis_toolbox to be aligned properly */
}
.addthis_default_style .at300b, 
.addthis_default_style .at300bo, 
.addthis_default_style .at300m {
	margin-top: 4px;
}
/* ---------- Start UI styling fixes ---------- */
.ui-widget-content a {
	/* match <a> color */
}
.ui-accordion-content { /* with padding-top at 0px, there is a space under accoridon button without a background color; requires !important */
	padding-top: 7px !important;
}

/* ----------  start Webs Planet widget fixes ----------  */

/* to match google map links */
.bing-maps div a {
	font-size: 13px; /*match a, a:visited { styling } */
	line-height: 16px;
	margin-bottom: 21px;
	display: inline;
}
/* iframe has height of 0px but makes container div taller than the button */
iframe#Guesbook_csiframe {
	display: none;
}
.reviewSubject h4 {
	font-size: 20px !important;  /* match h4 styling; requires !important */
}
.ypreviews {
	margin-bottom:30px;
}
/* RSS widget styling --- rss feed widget styeling, typography is completely different */
.rss-item-title a {
	font: 20px; /* match h4 styling */
}
div.rss ul {
    padding: 0;
}
div[type=rss_widget] > div.widget-body > div { /* match h3 styling; requires !important */
	font: 28px/28px Helvetica, Arial, sans-serif !important;
}
div[type=rss_widget] ul { /* remove indent; requires !important */
	padding-left: 0 !important; 
}
/* payment types text */
.PaymentMethod_widget .checkboxPaymentMethod p { /* match paragraph styling */
	font-size: 13px;
	line-height: 16px;
}
.facebook-like-box iframe {
    max-width: 100%;
}
/* accordion and tabs break grid, this adds a margin to match other "widget-wrapper"s */
div.diy-f-accordion,
div.diy-f-tabs,
div.diy-f-spot {
	margin: 10px 15px;
}
/* Accordian fixes */
.diy-f-accordion h3 {
	font-size: 28px; /* match h3 styling */
	line-height: 28px; /* .ui-helper-reset has it set at 1.3em */
	padding: 12px 0 12px 36px; /* default is em based */
}

/* ---------- Forms Fixes ----------*/
.form-manager li input[type="text"], 
.contact-us li input[type="text"] {
   width: 98%;
}
.form-manager label {
	line-height: 25px;
	padding-bottom:0px;
}
textarea { 
	resize:vertical; 
	max-height:200px; 
	min-height:75px;
}
/* Forms Manager */
label {
	margin-top: 0 !important; /* forms manager sets to 12px */
	line-height: 16px !important; /* forms manager sets to 25px */
}
.form-manager li { /* spaces form feilds better, chunks items together */
	margin-bottom: 12px !important;
}
.name-field { /* unifies width to other form elements */
	width: 48% !important; /* default is 49% */
	margin-right: 2% !important; /* defaut is 0 and has no space between inputs (first and last names) */
}
li.adress-block-field {
	margin-right: 2%;
	width: 48%;
}
div.formManagerFront select {
	width: 100% !important;
}
@media only screen and (max-width: 767px) {
	div.formManagerFront select {
		max-width: 97.45% !important;
	}
}
div.formManagerFront input[type=text],
div.formManagerFront textarea {
	width: 98.5% !important;
}
div.formManagerFront input[type=text] {
	padding-top: 0px;
}
div.formManagerFront dd {
	margin-bottom: 4px;
}
div.contactUsFront dd {
	margin-bottom: 3px;
}

/* Contact Form */
.contact-us label {
	padding-bottom: 0px;
}
.contact-us li {
	margin-bottom: 6px;
}
.contact-us input[type="submit"] {
	margin-top: 0px;
}

/* Calculators */
div.calc-input-container input[type=text] { /* remove styled margin-bottom, it pushes sub-labels down */
	margin-bottom: 0 !important;
}
div.calc-input-container {
	margin-bottom: 12px !important; /* add margin-bottom from child input */
}
div.unit-results ul li input { /* fix width */
	width: 97%;
}	
li.calc-param-row label {
  padding: 0 0 5px;
}
li.calc-param-row, 
li.calc-instruction-row, 
li.calc-resault-row {
	height:auto !important; 
	margin-bottom:5px;
}
li.calc-param-row div.calc-input-container, 
li.calc-resault-row div.calc-input-container {
  clear: left;
  float: left;
}
.calculator-btn {
	float:left;
}

/* weight calculator */
div.calories-calc div.calc-input-container span.small {
	display:none;
}
div.calc-input-container #weight_kg, 
div.calc-input-container #cen {
	display:none;
}
div.calc-input-container span.or {
	display:none !important;
}
div.calories-calc div.calc-input-container input[type="radio"] {
  border: 0px solid #AACFE4;
}

/* conversion calculator */
div.unit-calc li.unit-menu ul.unit-type {
  display: inline-block;
  text-align: center;
  width: 100%;
}
div.unit-calc li.unit-menu ul.unit-type li {
  clear: none !important;
  display: block;
  float: left; 
  text-align: center;
  font-size: 10px;
  width:auto !important;
}
div.unit-calc li.unit-menu ul.unit-type li a {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #E6E6E6;
  background-image: linear-gradient(#FFFFFF, #FFFFFF 25%, #E6E6E6);
  background-repeat: no-repeat;
  border-color: #CCCCCC #CCCCCC #BBBBBB;
  border-image: none;
  border-radius: 4px 4px 4px 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 5px 8px;
  transition: all 0.1s linear 0s;
  display: inline;
  margin: 2px 5px;
  text-decoration:none;
  color: #333333;
  line-height: normal;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
} 

div.unit-calc li.unit-menu ul.unit-type li a.active,
div.unit-calc li.unit-menu ul.unit-type li a:hover {
	background-image: linear-gradient(#d7d7d7, #d7d7d7 25%, #c7c7c7 );
	color:#000;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75);
    text-decoration:none;
}

/* results */
 li.calc-resault-row label {
  padding: 5px 0;
  width:100% !important;
}

/* clock fix*/
.big-clock {
  font-size: 30px !important;
}
/* Payment Method Fixes */
ul.PaymentMethod_widget  label {
	display:none;
}
.PaymentMethod_widget .checkboxPaymentMethod span {
	height: 40px;
	width: 62px;
}
li.checkboxPaymentMethod {
	margin: 0px !important;
	width: 62px !important;
}

/* Guestbook fixes */
.diy-guestbook-form input, .diy-guestbook-form textarea {
    clear: left;
    float: left;
}
.fancybox-inner * {
	color: #666666;	
}
.fancybox-inner input[type=text],
.fancybox-inner textarea {
	width: 75%;	
}
.click2sms-popup-wrapper .click2sms-popup-form input {
	width: 50px;
}

/* --------------- end Websplanet widget fixes --------------- */
div.horizontal div.vertical {
    float: left;
}
@media screen and (max-width: 767px) {
	div.horizontal div.vertical {
		float: none;
		clear: both;
		width: 100% !important;	
	}
}

/* column percentage display in DIY tool */
.diy-percent-width {
	width: auto !important;
	top: 8px !important;
	right: 0px !important;
	display: block !important;
	font-size: 11px !important;
	line-height: 16px !important;
	border-radius: 4px !important;
	font-weight: bold !important;
	text-align: center !important;
	color: #fff !important;
	height: 16px !important;
}

/* --------------- begin Websplanet module fixes --------------- */

/* MODULE STYLING 4/4/2013 */
.Events_item_date {
    padding-top: 6px;
}
.Events_item_title a {
    font-size: 21px;
    line-height: 24px;
    text-decoration: none;
}
.Events_item_title a:hover {
	text-decoration: underline;
}
div.Events_item {
	padding: 0;
}
div.Events_item_desc {
	clear: both;
}
#FAQ_category_list > li > a,
#FAQ_category_list > li > a:visited {
    width:auto; 
	height:auto; 
	text-align:center;  
	z-index:1001;
    border: 1px solid #000;
	background: #ff8c05 url("gfx/navCurrentItemBG.jpg") repeat scroll;
	line-height: 1;
	padding: 8px 0;
	font-family: "Century Gothic", Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #ffffff;
}
#FAQ_category_list > li > a:hover,
#FAQ_category_list > li > a:active {
	cursor:pointer;
	background: #ff6f05 url("gfx/navItemBG.jpg") repeat scroll;
    filter: progid:DXImageTransform.Microsoft.gradient( enabled=false );
}
ul#FAQ_category_list span {
	margin: 0 12px 24px;
}
div.jobs-desc p {
    padding: 10px;
}
div#jobs-module ul {
    margin: 0;
    padding: 0;
}
.jobs-title,
.jobs-title:hover {
    background: none;
    border: none;
	font-family: Verdana,arial,sans-serif; /* replace with theme fonts */
	font-size: 24px;
	padding-left: 0px;
	color: #ff8c05; /* replace with theme color */
	filter: none;
}
#jobs-module li .jobs-title a {
	color: #ff8c05;
}
.jobs-title a:hover,
.jobs-title a:active {
	text-decoration: none;
}
.jobs-apply a {
    width:auto; 
	height:auto; 
	text-align:center;  
	z-index:1001;
    border: 1px solid #000;
	background: #ff8c05 url("gfx/navCurrentItemBG.jpg") repeat scroll;
	line-height: 44px;
	font-family: "Century Gothic", Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #ffffff;
}
.jobs-apply a:hover,
.jobs-apply a:active {
    cursor:pointer;
	background: #ff6f05 url("gfx/navItemBG.jpg") repeat scroll;
	text-decoration: none;
}

/* --------------- end Websplanet module fixes --------------- */

/* --------------- Default Site Callout Classes --------------- */
div.horizontal.callouts div.vertical div.diy-f-spot.callout1 div.diy-f-spot-inner div.widget-wrapper,
div.horizontal.callouts div.vertical div.diy-f-spot.callout2 div.diy-f-spot-inner div.widget-wrapper {
	width:45% !important;
	float:left !important;
	margin-right: 0 !important;
}	
div.horizontal.callouts div.vertical div.diy-f-spot p.figcaption {
	display: none;	
}
div.horizontal.callouts div.vertical div.diy-f-spot div.image_wrapper {
	border: 6px solid #ffffff;
	box-shadow: 0 0 2px #c2c2c0;
	-webkit-box-shadow: 0 0 2px #c2c2c0;
	line-height: 0;
}
@media screen and (max-width: 767px) {
	div.horizontal.callouts div.vertical div.diy-f-spot.callout1 div.diy-f-spot-inner div.widget-wrapper,
	div.horizontal.callouts div.vertical div.diy-f-spot.callout2 div.diy-f-spot-inner div.widget-wrapper {
		width:auto !important;
		float:left !important;
		margin-right: 15px !important;
	}
}